<i class="jsinclude" style="display:none" data-key="currentSite" data-value="//www.mystatesman.com" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_backplaneBusName" data-value="coxmediagroup.com" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_backplaneVersion" data-value="" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_captureServer" data-value="https://cmg.janraincapture.com/" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_appId" data-value="6z4jnndkpe6dmfx7vdg4c7hkmz" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_federateServer" data-value="https://sso.cmgdigital.com" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_clientId" data-value="tne2pkkptqbyncx277kv37xqrwq36zqk" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_socialLoginAppId" data-value="acgbmfmhondnbilockca" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="jr_socialLoginAppUrl" data-value="https://login.cmgdigital.com" data-literal="false"></i>
<i class="jsinclude" style="display:none" data-key="currentSite" data-value="//www.mystatesman.com" data-literal="false"></i>
<script type="text/javascript" src="//www.mystatesman.com/r/PortalConfig/np-paid/assets/js/minimalist.min.js"></script>

<!-- Quantcast Tag, part 2 -->
<script type="text/javascript">
  _qevents.push( { qacct:"p-38KriKc8Foyx-"} );
</script>
<noscript>
  <div style="display: none;">
    <img src="//:pixel.quantserve.com/pixel/p-test123.gif" height="1" width="1" alt="Quantcast"/>
  </div>
</noscript>

{{!-- Chartbeat code --}}
<script type="text/javascript">
  var chartbeatdomain = 'statesman.com'
  var _sf_async_config = { uid: 31585, domain: chartbeatdomain, useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
    loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
