<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.statesman.com/" target="_blank">
        <img width="273" height="26" src="assets/logo-black.png" />
        <p>Investigates</p>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="navbar-expand" data-target="#navbar-chapters">
        <i class="fa fa-angle-double-down"></i> <a>Chapters</a>
      </div>
      <ul id="navbar-chapters" class="nav navbar-nav hidden-navbar-collapsed">
        {{{navLinks 'super'}}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
