# Created by https://www.gitignore.io

### grunt ###
# Grunt usually preprocesses files such as coffeescript, compass... inside the .tmp directory
.tmp/
node_modules/
.grunt
.slack
.ftppass

### Environment config ###
.htaccess

### Bower ###
bower_components

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### OSX ###
.DS_Store

### Built files ###
build/**
public/*.html
public/dist/*.js
public/dist/*.js.map
public/dist/*.css
public/dist/*.css.map
