<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>{{page.title}} | Austin American-Statesman</title>

  <link rel="icon" type="image/png" href="assets/favicon.ico">

  {{> meta}}

  {{> styles}}

  {{> cmg-header-scripts}}
</head>
<body>
  {{> navbar-super}}

  {{> navbar-thin}}

  {{{body}}}

  {{> banner-ad}}

  <p id="legal" class="center-block text-center"><small>© 2014 <a href="http://www.coxmediagroup.com" target="_blank">Cox Media Group</a>. By using this website, you accept the terms of our <a href="http://www.mystatesman.com/visitor_agreement/" target="_blank">Visitor Agreement</a> and <a target="_blank" href="http://www.mystatesman.com/privacy_policy/">Privacy Policy</a>, and understand your options regarding <a target="_blank" href="http://www.mystatesman.com/privacy_policy/#ad-choices">Ad Choices</a><img src="http://media.cmgdigital.com/shared/img/photos/2012/02/29/d3/da/ad_choices_logo.png" alt="AdChoices">.</small></p>

  {{> cmg-footer-scripts}}

  {{> scripts}}
</body>
</html>
