@import 'content-list.less';

.vert {
    height: 75px;
    width: 50%;
    border-right: 1px dotted #ccc;
    margin-top: 0;
    margin-bottom: 0;
}

.article-box {
    text-align:center;
    padding: 20px;
    background: @body-bg;
}

.article-hed {
    margin-bottom:2px;
}

.article-date {
    font-family: @font-family-sans-serif;
}

.gray-text {
    font-family: @font-family-sans-serif;
    color: @gray;
    font-size: 0.9em;
}

.document-hed {
    margin-top:0;
    font-size:30px;
    margin-bottom:20px;
}

.tint-wrapper {
    background: black;
}

.page-thumbs {
    width: auto;
    display: inline-block;
    text-align:center;
    margin: auto 40px 30px auto;
}
