@import 'content-list.less';

.table > tbody > tr > td.video-link {
    padding: 10px;
    cursor: pointer;
    line-height: 1.4;
    &:hover {
        background: @body-bg;
    }
}

.video-link-active {
    .bold;
    background: @body-bg;
}

.vjs-dock-text {
    display:none;
}

.vjs-dock-shelf {
    display:none;
}
