// Bring in vanilla Bootstrap ...
@import 'custom-bootstrap/bootstrap.less';
// ... and then decorate it with Statesman styles
@import 'custom-bootstrap/variables.less';

// Replace Glyphicons with FontAwesome
@import '../../bower_components/font-awesome/less/font-awesome.less';

// Files for individual modules
@import 'navbar.less';
@import 'article.less';
@import 'panels.less';
@import 'footer.less';
@import 'type.less';
@import 'slider.less';
@import 'highlights.less';
@import 'intro.less';

div.dollar {
    margin: 50px auto 40px auto;
    text-align:center;
}

.dollar-strip {
    height: 30px;
    margin-bottom:10px;
}

.navbar-expand {
    cursor: pointer;
}

.victim_hed {
    font-size: 30px;
}

.timeline {
    margin-top: 30px;
    border-bottom: 1px solid #eee;
}

.bottomline {
    color: #bbb;
    font-family: @font-family-sans-serif;
}

.timeline-bar {
    display: inline-block;
    background: #ddd;
    cursor: pointer;
    margin-bottom:-8px;
    border-left: 1px solid #fff;
}

.player-button {
    cursor: pointer;
}

.player-controls {
    background: #eee;
    padding:7px;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style: italic;
}

.map-wrap {
    margin:50px 30px 50px 30px;
}

.land {
  fill: #eee;
  stroke: #bbb;
}

.dot {
    fill: red;
    cursor: pointer;
    stroke: #bbb;
}

.dot:hover,
.highlighted {
    stroke: #000;
    stroke-width: 2px;
}

.state-boundary {
  fill: none;
  stroke: #bbb;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.detail-hed {
    font-family: @font-family-sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom:0;
    @media (min-width: @screen-sm) {
        margin-top:50px;
    }
}

.gray-text {
    font-family: @font-family-sans-serif;
    color: @gray;
    font-size: 0.9em;
}

.thumbs {
    display: inline-block;
    margin: 30px;
}

.detail-summary {
    line-height: 1.4;
}

#victim_total {
    @media (min-width: @screen-md) {
        margin-bottom:-20px;
    }
}
