// Bring in vanilla Bootstrap ...
@import 'custom-bootstrap/bootstrap.less';
// ... and then decorate it with Statesman styles
@import 'custom-bootstrap/variables.less';

// Replace Glyphicons with FontAwesome
@import '../../bower_components/font-awesome/less/font-awesome.less';

// Files for individual modules
@import 'navbar.less';
@import 'article.less';
@import 'panels.less';
@import 'footer.less';
@import 'type.less';
@import 'slider.less';
@import 'highlights.less';
@import 'intro.less';

img {
    max-width:100%;
}

div.topmain {
    margin-top: 50px;
    text-align:center;
}

.navbar-expand {
    cursor: pointer;
}

.victim_hed {
    font-size: 30px;
}

.timeline {
    margin-top: 30px auto 50px auto;
    border-bottom: 1px solid #eee;
}

.bottomline {
    color: #bbb;
    font-family: @font-family-sans-serif;
}

.timeline-bar {
    display: inline-block;
    background: #ddd;
    cursor: pointer;
    margin-bottom:-8px;
    border-left: 1px solid #fff;
}

.timeline-bar-active {
    background: @brand-primary;
    border-bottom:1px solid @brand-primary;
}

.player-button {
    cursor: pointer;
    color: #aaa;
}

.player-button:hover {
    color: #000;
}

.player-controls {
    background: #eee;
    padding:7px;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style: italic;
}

.map-wrap {
    margin:50px 30px 50px 30px;
}

.land {
  fill: #eee;
  stroke: #bbb;
}

.dot {
    fill: @brand-primary;
    cursor: pointer;
    stroke: #bbb;
}

.dot:hover,
.highlighted {
    stroke: #000;
    stroke-width: 2px;
}

.state-boundary {
  fill: none;
  stroke: #bbb;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.detail-hed {
    font-family: @font-family-sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom:0;
    @media (min-width: @screen-sm) {
        margin-top:50px;
    }
}

.gray-text {
    font-family: @font-family-sans-serif;
    color: @gray;
    font-size: 0.9em;
}

.document-wrapper {
    margin: 35px auto 0 auto;
}

.tint-wrapper {
    background: black;
}

.page-thumbs {
    width: auto;
    display: inline-block;
    text-align:center;
    margin: auto 40px 30px auto;
}

.tooltip {
    font-family: @font-family-sans-serif;
}

.detail-summary {
    line-height: 1.4;
}

#victim_total {
    @media (min-width: @screen-md) {
        margin-bottom:-20px;
    }
}

.grid-item {
    padding:0;
}

.no-touch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.person-card {
    padding: 10px;
    margin:0;
}

.person-card-inner {
    padding: 20px;
    border: 1px solid #ccc;
}

.player-progress-wrapper {
    height: 4px;
    background: #f7f7f7;
    width: 100%;
    margin-top:7px;
}

.player-progress {
    height: 100%;
    background: @brand-primary;
    width:0;
}

.video-launcher, .video-link {
    font-family: @font-family-sans-serif;
}

.video-link {
    padding: 10px;
}

.video-icon-li {
    line-height: 1.3;
}

.pointer {
    cursor: pointer;
}

.active-link {
    font-weight: bold;
    background: @body-bg;
}

.video-link:hover {
    background: @body-bg;
}

.vert {
    height: 120px;
    width: 50%;
    border-right: 1px solid #ddd;
    margin-top: 0;
    margin-bottom: 0;
}

.article-wrapper {
    margin-top: 25px;
}

.article-box {
    text-align:center;
    padding: 20px;
    background: @body-bg;
}

.article-hed {
    margin-bottom:2px;
}

.article-date {
    font-family: @font-family-sans-serif;
}

.front-section {
    padding:50px;
}
