{
  "template" : "story",
  "title": "Interactive: Mass shootings in the United States",
  "description": "Mapping 50 years of mass shootings in America, beginning with the Aug. 1, 1966 UT Tower shooting in Austin, TX",
  "keywords": "Charles Whitman, Tower shooting, Columbine, Orlando, Pulse, Aurora, Dallas, University of Texas, UT Tower, shooting, Austin, Austin news",
  "thumbnail": "assets/img/share/fb-interactive-share.jpg",
  "publish-date": "July 3, 2016",
  "script": "shootingdata.js"
}
---

<div class="container">
      <div class="row">
          <div class="col-xs-12" style="margin: 40px auto 20px auto;">
      <h1>Interactive: 50 years of mass shootings in America</h1>
      <h2 id="interactive-subhead">Since 1966, at least <span id="fatality_count"></span> people have been killed or wounded in <span id="incident_count"></span> mass shooting incidents in the U.S.</h2>

      <p class="lead">The data powering this interactive was <a href="http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data" target="_blank">compiled by Mother Jones</a> and include public shootings in which four or more victims were killed. We added five other incidents that fit these criteria &mdash; including the UT Tower shooting &mdash; that weren't present in the Mother Jones data. Five were from <a href="https://library.stanford.edu/projects/mass-shootings-america" target="_blank">a separate database maintained by Stanford University</a>.

      <p class="lead">This page was updated July 11, 2016.</p>

      <p class="lead">Click the previous/next buttons &mdash; or use your left and right arrow keys &mdash; to toggle between years. You can also click on the bar chart to jump to a specific year (hold down shift to select multiple years).</p>

  </div>
  </div>

  <div class="map-wrap">
      <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <div id="timeline" class="timeline"></div>
                <div class="clearfix"></div>
                <div class="controls">
                    <a class="sm-muted-button pull-left" id="player-previous-button">
                    &laquo;&ensp;Previous
                    </a>
                    <a class="sm-muted-button pull-right" id="player-next-button">
                    Next&ensp;&raquo;
                    </a>
                </div>
                <div class="clearfix"></div>
                <h2 id="victim_total" class="victim_hed"></h2>
                <div class="details visible-lg"></div>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <div id="map"></div>
                <p class="small text-center"><a class="show-all">Show all</a></p>
            </div>
      </div>
      <div class="row hidden-lg">
          <div class="col-sm-12">
              <div class="details"></div>
          </div>
      </div>
  </div>

  <div class="table-wrap">
      <div class="row">
          <div class="col-xs-12">
              <table id="table-shootings" class="display responsive nowrap table sans table-hover" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>City</th>
                          <th>State</th>
                          <th>Date</th>
                          <th>Fatalities</th>
                          <th>Wounded</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<script type="text/html" id="details_template">
        <h3 class="detail-hed"><%= template_data.city %>, <%= template_data.state %>: <% if (+template_data.fatalities > 0) { %><%= template_data.fatalities %> dead<% }; %><% if (+template_data.fatalities > 0 && +template_data.wounded > 0) { %>, <% }; %><% if (+template_data.wounded > 0) { %><%= template_data.wounded %> wounded<% }; %></h3>
        <p class="gray-text">
                <%= template_data.date %>
        </p>
        <p class="detail-summary"><%= template_data.description %></p>
</script>
