{
  "template" : "story",
  "title": "Data: Mass shootings in the United States",
  "description": "SOME DESCRIPTION HERE",
  "thumbnail": "assets/thumbnail.jpg",
  "publish-date": "July 3, 2016",
  "d3map": true
}
---

<div class="container">
      <div class="row">
          <div class="col-xs-12" style="margin: 40px auto 20px auto;">
      <h1>Interactive: 50 years of mass shootings in America</h1>
      <h2>Since 1966, at least <span id="fatality_count"></span> people have been killed or wounded in <span id="incident_count"></span> mass shooting incidents</h2>


      <p class="author">By <a href="https://twitter.com/cody_winchester" target="_blank">Cody Winchester</a> and <a href="https://twitter.com/rweckhart" target="_blank">Robert Eckhart</a> / Published {{ page.publish-date }}</p>

      <p class="lead">The data powering this interactive was <a href="http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data" target="_blank">compiled by Mother Jones</a> and includes public shootings in which four or more victims were killed. We added five other incidents that fit these criteria &mdash; including the UT Tower shooting &mdash; that weren't present in the Mother Jones data but were included in <a href="https://library.stanford.edu/projects/mass-shootings-america" target="_blank">a separate database maintained by Stanford University</a>.</p>

      <p class="lead">Click the previous/next buttons &mdash; or use your left and right arrow keys &mdash; to toggle between years. You can also click on the bar chart to jump to a specific year (hold down shift to select multiple years).</p>

  </div>
  </div>

  <div class="map-wrap">
      <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <div id="timeline" class="timeline"></div>
                <div class="clearfix"></div>
                <div class="controls">
                    <a class="sm-muted-button pull-left" id="player-previous-button">
                    &laquo;&ensp;Previous
                    </a>
                    <a class="sm-muted-button pull-right" id="player-next-button">
                    Next&ensp;&raquo;
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="details hidden-xs"></div>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <h2 id="victim_total" class="victim_hed text-center"></h2>
                <div id="map"></div>
                <p class="small text-center"><a class="show-all">Show all</a></p>
                <div class="details visible-xs"></div>
            </div>
      </div>
  </div>
</div>

<script type="text/html" id="details_template">
        <h3 class="detail-hed"><%= template_data.city %>, <%= template_data.state %>: <% if (+template_data.fatalities > 0) { %><%= template_data.fatalities %> dead<% }; %><% if (+template_data.fatalities > 0 && +template_data.wounded > 0) { %>, <% }; %><% if (+template_data.wounded > 0) { %><%= template_data.wounded %> wounded<% }; %></h3>
        <p class="gray-text">
                <%= template_data.date %>
        </p>
        <p class="detail-summary"><%= template_data.description %></p>
</script>
